/* PAGE:GENERO */
.sectionGenerosMobile {
    display: none;
}

.contGeneros img {
    max-width: 250px;
}

.contGeneros {
    display: flex;
    justify-content: space-between;
}

.contGeneros a:hover {
    transform: scale(1.2);
}

.cont2Generos {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.cont2Generos a:hover {
    transform: scale(1.2);
}
