/* SECCION 2 INDEX */
.seccion2Index {
    background-color: rgba(250, 235, 215, 0.295);
    flex-wrap: wrap;
}
.seccion2Index a:hover {
    transform: scale(1.1);
}

.top6Latinoamerica {
    color: brown;
    margin: 15px 10px;
}

.seccion2Mobile{
    display: none;
}
